body{
    background-color: #1c1c1d;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    background-color: #242526;
}
.fb-search{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    gap: 12px;
}
.search-input{
    padding: 8px;
    font-size: 24px;
    border: none;
    border-radius: 20px;
    background-color: #333334;
    color: #e4e6eb;
}
.fa-magnifying-glass{
    position: absolute;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: -45px;
    color: #e4e6eb;
    font-size: 20px;
}
.nav-icon{
    color: #e4e6eb9f;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    width: 33%;
}
.fa-house, .fa-tv, .fa-users, .fa-gamepad{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 10px;
    cursor: pointer;
}
:hover .fa-house, .fa-tv, .fa-users, .fa-gamepad{
    background-color: #3a3b3c;
}
.messenger{
    display: flex;
    align-items: center;
    justify-content: end;
    color: #e4e6eb9f;
    gap: 10px;
    font-size: 24px;
}
.fb-messenger{
    padding: 5px;
    background-color: #3a3b3c;
    border-radius: 50%;
    cursor: pointer;
}
:hover .fb-messenger{
    background-color: #4e4f50;
}
.profile-pic-sm{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}
.notification{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    font-size: 14px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: -20px;
    margin-top: -30px;
    font-weight: bold;
}